extends ../layout/layout
include ../../modules/search/search


block content
    main.landingPage
        article.landingPage_container
            +search-room({
                title: 'Найдём номера под ваши пожелания',
                searchText: 'подобрать номер'
            })
        div.landingPage_comment
            span.landingPage_comment_text=`Лучшие номера для вашей работы, отдыха и просто вдохновения`