include ../../elements/buttons/buttons

mixin header({user = '', menuItems = [] , buttonLogin = 'login', buttonRegister = 'register'} = {})
    nav.navigation
        div.navigation__logo
            include ../logo/logo
        ul.navigation__list
            each item in menuItems
                - const {name, link, title, submenu} = item
                +header-items({
                    name: name,
                    link: link,
                    title: title,
                    submenu: submenu
                })
            if (user !== '')
                li.navigation__element.navigation__element--name
                    a(class='navigation__link--name').navigation__link=user
            else
                +button-bordered({text: buttonLogin, className: 'login-header'})
                +button-active({text: buttonRegister, className: 'register-header'})

mixin header-items({name, link, title, submenu = []} = {})
    li.navigation__element
        a(href=link, class='navigation__link--' + name).navigation__link=title
        if (submenu.length !== 0)
            div.navigation__link__show-more
                ul.navigation__sub
                    each item_sub in submenu
                        - const {subname, sublink, subtitle} = item_sub
                        li.navigation__sub-element
                            a(href='#' + sublink).navigation__sub-link=subtitle
