@import "../../theme/default_theme/deftheme";

body {
  margin: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 2rem 0 2.5rem 0;

  letter-spacing: -0.015em;
  justify-content: space-between;
  align-items: center;

  background-color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);

  @include monserrat(normal, 0.83em, 0.7em, $dark_shade_50);

  &__logo{
    padding-left: 8.7rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__element {
    display: inherit;

    list-style: none;
    position: relative;
    align-items: center;
    margin: 0.85rem 0.95rem;

    letter-spacing: 0;

    &:first-child {
      font-weight: bold;
      color: $dark_shade_75;
    }
    &:last-of-type:not(.navigation__element--name) {
      margin-right: 0.7rem;
    }
    &--name {
      margin-right: 8.8rem;
      margin-left: 2.9rem;
      letter-spacing: 0.03em;
      position: relative;
    }
    &--name:before {
      content: '';
      position: absolute;
      top: -0.55rem;
      left: -1.9rem;
      height: 1.8rem;
      width: 0.2rem;
      border-left: 1px solid $dark_shade_10;
    }
    & .navigation__link--documentation {
      letter-spacing: 0.03em;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: $dark_shade_50;
    &__show-more {
      height: 0.7rem;
      width: 0.7rem;
      margin: 0 -0.2rem 0 0.2rem;
      background-image: url("../icon/expand_more.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      align-self: center;
    }
  }
  & .buttons_bordered {
    height: 2rem;
    width: 5rem;

    margin: auto 1.3rem;

    & .login-header {
      height: 1.85rem;
      width: 4.75rem;

      font-weight: bold;
      font-size: 0.75em;
    }
  }
  & .register-header {
    height: 2rem;
    font-size: 0.75em;
    margin: auto 8.75rem auto 0;
  }
  & .register-header, & .buttons_bordered {
    vertical-align: middle;
  }
  &__sub{
    display: none;
  }
}
