@import "../../theme/default_theme/deftheme";

.noUi {
  &-horizontal {
    width: 266px;
    height: 6px !important;
  }

  &-handle {
    width: 0.7rem !important;
    height: 0.7rem !important;
    right: -0.5rem !important;

    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  &-touch-area {
    width: 1rem !important;
    height: 1rem !important;
    /* Secondary Gradient */

    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
  }

  &-handle:before, &-handle:after {
    content: none !important;
  }
}

.range-slider {
  width: 266px;
  &_title {
    @include title-checkboxs();
    margin-bottom: 0.5rem;
  }
  &_value {
    display: flex;
    width: 64.15%;
    justify-content: flex-end;

    &_start, &_perm, &_end {
      font-weight: normal;
      font-size: 1.06em;
      color: $dark_shade_50;
      letter-spacing: 0.01em;
      white-space: pre-wrap;
    }
  }
}