@import "../../theme/default_theme/deftheme";
.rate-button {
  height: 1.5rem;
  margin-right: 1rem;
  &_title {
    @include title-checkboxs();
  }
}

.rate-button_area {
  float: left;
  height: 1em;
  margin: 0.2rem 0 0 0.2rem;
}
.rate-button_area:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate-button_area:not(:checked) > label {
  float: right;
  width: 0.7em;
  margin-right: 0.31rem;

  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.7em;

  color: transparent;
  background-image: url("../icon/star_border.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.rate-button_area:not(:checked) > label:before {
  content: '★ ';
}
.rate-button_area > input:checked ~ label {
  color: transparent;
  background-image: url("../icon/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

