@import "../../theme/default_theme/deftheme";

.radio {

  &_title {
    @include title-checkboxs();
  }
  &_buttons {
    display: flex;
    &_item {
      display: flex;
      margin-right: 1.3rem;

      @include monserrat(normal, 15px, 20px, $dark_shade_75);

      //font-size: 0.869em;
      letter-spacing: 0.035em;
    }
    &_radio {
      display: none;
    }
    &_fake-radio {
      content: '';
      width: 1.1rem;
      height: 1.1rem;


      margin-right: 0.75rem;

      border: 1px solid $purple;
      border-radius: 50%;
    }
    &_radio:checked ~ &_fake-radio::after {
      content: '';
      display: block;

      width: 0.73rem;
      height: 0.74rem;
      margin: 0.19rem 0.18rem;

      background-color: $purple;
      border-radius: 50%;
    }
  }
}