mixin radio-buttons({title, nameRadio = 'radio', options = [] } = {})
    label.radio_title=title
    div.radio_buttons
        each option in options
            - const {text, checked} = option
            +radio-options({nameRadio, text, checked})


mixin radio-options({nameRadio, text = 'option', checked = false} = {})
    label.radio_buttons_item
        input(type='radio' name=nameRadio checked=checked).radio_buttons_radio
        div.radio_buttons_fake-radio
        =text
