mixin pretty-bottom()
    div.bottom-pretty
        div.bottom-pretty__logo
            include ../logo/logo
        div.bottom-pretty__subscribe="Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        div.bottom-pretty__links
            div.bottom__down__links--twitter
            div.bottom__down__links--facebook
            div.bottom__down__links--instagram