-
  locals.rooms = [
  {
    number: "888",
    category: "люкс",
    cost: "9990",
    feedback: "145",
    rate: 5,
    buttons: true
  },
  {
    number: "840",
    cost: "9990",
    feedback: "65",
    rate: 4
  },
  {
    number: "980",
    cost: "8500",
    feedback: "35",
    rate: 3
  },
  {
    number: "856",
    cost: "7300",
    feedback: "19",
    rate: 5
  },
  {
    number: "740",
    cost: "6000",
    feedback: "44",
    rate: 4
  },
  {
    number: "982",
    cost: "5800",
    feedback: "56",
    rate: 3
  },
  {
    number: "678",
    cost: "5500",
    feedback: "45",
    rate: 5
  },
  {
    number: "450",
    cost: "5300",
    feedback: "39",
    rate: 4
  },
  {
    number: "350",
    cost: "5000",
    feedback: "77",
    rate: 3
  },
  {
    number: "666",
    cost: "5000",
    feedback: "25",
    rate: 5
  },
  {
    number: "444",
    cost: "5000",
    feedback: "15",
    rate: 3
  },
  {
    number: "352",
    cost: "5000",
    feedback: "55",
    rate: 3
  }
  ]