@font-face {
  font-family: 'Monserrat';
  src: url('../../../src/theme/default_theme/fonts/fonts/Montserrat-Black.eot');
  src: local('☺'), url('../../../src/theme/default_theme/fonts/fonts/Montserrat-Black.woff') format('woff'),
  url('../../../src/theme/default_theme/fonts/fonts/Montserrat-Black.ttf') format('truetype'),
  url('../../../src/theme/default_theme/fonts/fonts/Montserrat-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../../src/theme/default_theme/fonts/fonts/Quicksand-Regular.eot');
  src: local('☺'), url('../../../src/theme/default_theme/fonts/fonts/Quicksand-Regular.woff') format('woff'),
  url('../../../src/theme/default_theme/fonts/fonts/Quicksand-Regular.ttf') format('truetype'),
  url('../../../src/theme/default_theme/fonts/fonts/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "../../theme/colors/colors";

@mixin title-monserrat($text-color, $font-size) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size;
  line-height: 1.55rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $text-color;
}

@mixin title-of-forms() {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 2.6em;
  color: $dark_shade;
}


@mixin input-area($text-color, $border-color) {
  width: 91.5%;
  height: 2.7rem;

  background: #FFFFFF;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 4px;



  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.87em;
  letter-spacing: -0.01em;
  line-height: 129%;
  color: $text-color;
}


@mixin dropdown($color-text, $color-border, $width) {
  position: relative;
  display:flex;
  flex-direction: row-reverse;
  .dropdown-input {
    @include input-area($color-text, $color-border);
    padding: 0 0 0.3rem 0.8rem;
    margin-bottom: 0;
    width: $width;
  }

  .dropdown-select {
    @include button-select(url("../../elements/icon/expand_more.png"));
  }
  .dropdown-select:hover, .dropdown-select:focus ~ .dropdown-input{
    border-radius: 4px 4px 0px 0px;
    border: 4px;
  }

  .dropdown-input:focus, .dropdown-input:hover {
    @include input-area($dark_shade_75, $dark_shade_50);
    line-height: 171%;
    padding: 0 0 0.35rem 1.2rem;
    width: $width;
  }
}

@mixin button-select($url) {
  position: absolute;
  width: 0.82rem;
  height: 0.82rem;
  right: 1rem;
  top: 0.85rem;
  background-image: $url ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-self: center;
}

@mixin button-register-login-onforms($font-size, $height) {
  @include title-monserrat(#FFFFFF);
  font-size: $font-size;
  letter-spacing: 0.115em;
  text-align: center;

  position: relative;
  padding-top: 0.7rem;
  height: $height;
  border-radius: 1.7rem 1.7rem;
  background-image: $gradient;
  &__arrow{
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    right: 0.87rem;
    top: 0.9rem;
    background-image: url("../icon/arrow_forward_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }
}

@mixin checkbox() {
  &_checkbox {
    display: none;
  }
  &_fake {
    width: 1.1rem;
    height: 1.1rem;
    align-self: baseline;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;

    margin-right: 0.7rem;
    &_checkbox {
      width: 1.1rem;
      height: 1.1rem;

      background-color: #FFFFFF;
      z-index: 2;
      border-radius: 4px;
    }
  }
  &_checkbox:checked ~ &_fake {
    border-color: $purple;
  }
  &_checkbox:checked ~ &_fake > &_fake_checkbox {
    content: '';
    background-image: $gradient;
    clip-path: polygon(
                    26% 46%,

                    32% 39%,
                    48% 54%,
                    69% 31%,

                    76% 37%,
                    48% 68%);
  }
}

@mixin title-checkboxs() {
  height: 44px;
  @include font-prop();

}

@mixin font-prop() {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size:  0.7em;
  line-height: 15px;
  letter-spacing: 0.075em;

  text-transform: uppercase;
  display: flex;
  align-items: center;

  color: #1F2041;
}

@mixin text-field($colorDef, $colorFocus, $borderDef, $borderFocus, $placehDef, $placeholdFocus) {
  label, div {
    @include title-checkboxs();
    height: 1.45rem;
  }
  input {
    height: 2.75rem;
    padding-left: 0.9rem;

    font-family: Montserrat, sans-serif;
    font-size: 0.8em;

    color: $colorDef;
    background: #FFFFFF;

    border: 1px solid $borderDef;
    box-sizing: border-box;
    border-radius: 4px;
  }
  input:hover, input:focus {
    padding-bottom: 0.1rem;
    letter-spacing: 0.035em;

    color: $colorFocus;
    border-color: $borderFocus;
  }
  input::placeholder {
    color: $placehDef;
  }
  input:hover::placeholder {
    color: $placeholdFocus;
  }
}

.title-h1 {
  font-size: 1.714rem;
  letter-spacing: 0.1rem;
  line-height: 1.9rem;
  font-weight: bold;
}

.exist-on-toxin {
  display: flex;
  margin-top: 1.8rem;
  &_text {
    margin-right: auto;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}

@mixin quicksand($weight, $size, $height, $color) {
  font-family: 'Quicksand', 'Open Sans', Arial, sans-serif;;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;

  color: $color;

  white-space: pre-wrap;
}

@mixin monserrat($weight, $size, $height, $color) {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;

  color: $color;

  white-space: pre-wrap;
}



.date_dropdowns {
  display: flex;
  & .date-dropdown:last-child {
    margin-left: 1.2rem;
  }
}

@mixin logo_header($width, $height, $margins){
  width: $width;
  height: $height;
  margin: $margins;

  background-image: url("../../elements/icon/Group.svg");
  background-repeat: no-repeat;
}


