mixin range-slider($title, $valStart, $valEnd)
    div.range-slider
        div.range-slider_title=$title
            div.range-slider_value
                div.range-slider_value_start=$valStart
                div.range-slider_value_perm=' - '
                div.range-slider_value_end=$valEnd
        div(id="slider")



