@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');
@import "../../theme/colors/colors";
@import "../../modules/registerArea/register";

.dropdown-title{
  margin-top: 3.4rem;
  margin-left: 1.5rem;
  @include title-monserrat($dark_shade);
}
.dropdown {

  position: relative;
  margin-left: 1.6rem;
  width: 25.4em;
  &__area {
    @include input-area($dark_shade_75, $dark_shade_50);
    height: 3.4rem;
    width: 100%;
    padding: 0 0 0.35rem 1.2rem;
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
  }
  &__select {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1.3rem;
    top: 1.2rem;
    background-image: url("../icon/expand_more.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }
  &__items{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid $dark_shade_50;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    & .dropdown-item {
      display: flex;
      @include title-monserrat($dark_shade);
      font-size: 0.865em;
      padding: 0.5rem 0.5rem 0.45rem 1.1rem;
    }
    & .button-minus , .button-plus{
      color: $dark_shade_50;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 22px;
      align-self: flex-end;
    }
  }
}