@import "../../theme/default_theme/deftheme";

.dropdown-title {
  @include title-monserrat($dark_shade, 0.64em);
}
.dropdown {
  position: relative;
  width: 320px;
  &__area {
    @include input-area($dark_shade_75, $dark_shade_25);
    height: 2.65rem;
    width: 100%;
    letter-spacing: 0.008em;

    padding: 0.75rem 0 0.35rem 0.95rem;
    margin-bottom: 0;
    border-radius: 4px 4px 4px 4px;
  }
  & .dark {
    border-color: $dark_shade_50;
    border-radius: 4px 4px 0 0;
  }
  &__select {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    right: 1rem;
    top: 0.9rem;
    background-image: url("../icon/expand_more.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }
  &__items {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;

    list-style: none;
    margin: 0;
    padding: 0rem 0.35rem 0 0.8rem;
    background: #FFFFFF;
    border: 1px solid $dark_shade_50;
    border-top: solid transparent;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    & .dropdown-item {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      @include title-monserrat($dark_shade, 0.64em);
      line-height: 2.35rem;
      letter-spacing: 0.145em;
      padding: 0;
      & .item-title {
        flex: 0 0 68%;
        align-self: flex-start;
      }
      & .button-minus , & .button-plus , & .str-count {
        flex: 0 0 9.5%;
        text-align: center;
      }
      & .button-minus , & .button-plus {
        width: 1.7rem;
        height: 1.7rem;

        font-size: 1.6em;
        font-weight: normal;
        line-height: 1.7rem;
        color: $dark_shade_50;

        border: 1px solid $dark_shade_50;
        border-radius: 50%;
        align-self: center;
      }
      & .button-minus {
        color: $dark_shade_25;
        border: 1px solid $dark_shade_25;
      }
      & .passive {
        color: $dark_shade_25;
        border: 1px solid $dark_shade_25;
      }
      & .active{
        color: $dark_shade_50;
        border: 1px solid $dark_shade_50;
      }
    }

    &__buttons {
      display: flex;
      @include title-monserrat($dark_shade, 0.64em);
      font-size: 0.75em;
      letter-spacing: 0;
      text-transform: uppercase;
      margin: 0.8rem 0.1rem 0.5rem 0;
      &__clear , &__save {
        flex: 0 0 50%;
      }
      &__clear{
        color: $dark_shade_50;
        visibility: hidden;
      }
      &__save{
        text-align: right;
        color: $purple;
      }
    }
  }
  & .visible {
    display: block;
    visibility: visible;
  }
}


