@import "../../theme/default_theme/deftheme";

@mixin link-image($url) {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1.45rem;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bottom {
  display: flex;
  flex-wrap: wrap;

  letter-spacing: -0.015em;
  background: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
  margin-bottom: 1px;

  @include monserrat(normal, 17px, 19px, $dark_shade_50);

  padding: 5.8rem 6rem 5.2rem 8.7rem;
  list-style: none;
  &__element {
    & .logo {
      &__circle {
        margin-top: 0.4rem;
      }
      &__toxin {
        margin-bottom: 0.9rem;
      }
    }
    &:first-child {
      width: 15.7rem;
      margin-right: 3.1rem;
    }
    &:last-child {
      width: 16.3rem;
      padding-left: 0.1rem;
    }
    margin-right: 0.95rem;
    width: 11.5rem;
    &__title {
      text-transform: uppercase;
      margin: 0.7rem 0 1.2rem 0;
      font-size: 0.7em;
      font-weight: bold;
      line-height: 15px;
      color: $dark_shade;
      letter-spacing: 0.01em;
    }
    &__sub-element{
      font-size: 0.9em;
      line-height: 1.7em;
      letter-spacing: 0;
      color: $dark_shade_50;
      list-style: none;
      word-wrap: break-word;
      padding:  0;
      margin-bottom: 0.9rem;

      & .subscription-text-field {
        margin-top: 1.5rem;
        & .subscription-text-field_input_choose-up {
          right: 0.8rem;
        }
      }
    }
  }
  &__down {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
    &__copyright {
      word-wrap: break-word;
      @include monserrat(normal, 0.865em, 0.865em, $dark_shade_75);

      padding: 1.9rem 0 1.8rem 8.7rem;
    }
    &__links{
      display: flex;
      flex-direction: row;

      margin-left: auto;
      margin-right: 8.7rem;
      padding: 1.5rem 0;
      &--twitter{
       @include link-image("../icon/twitter.png");
      }
      &--instagram{
        @include link-image("../icon/instagram.png");
      }
      &--facebook{
        @include link-image("../icon/facebook.png");
      }
    }
  }
}


