-
    locals.bottomData = [
        {
            elements: [
                {
                    element: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'
                }
            ]
        },
        {
            id: 'navigation',
            title: 'Навигация',
            elements: [
                {
                    element: 'О нас'
                },
                {
                    element: 'Новости'
                },
                {
                    element: 'Служба поддержки'
                },
                {
                    element: 'Услуги'
                }
            ]
        },
        {
            id: 'about_us',
            title: 'О нас',
            elements :[
                {
                    element: 'О сервисе'
                },
                {
                    element: 'Наша команда'
                },
                {
                    element: 'Вакансии'
                },
                {
                    element: 'Инвесторы'
                }
            ]
        },
        {
            id: 'support',
            title: 'Служба поддержки',
            elements: [
                {
                    element: 'Соглашения'
                },
                {
                    element: 'Сообщества'
                },
                {
                    element: 'Связь с нами'
                }
            ]
        },
        {
            id:'subscribe',
            title: 'Подписка',
            elements: [
                {
                    element: 'Получайте специальные предложения и новости сервиса'
                }
            ]
        }
    ]