.registrationPage {
  display: flex;
  align-items: center;
  height: min-content;
  min-height: 701px;

  background-image: url("../../modules/image/background1.png");
  background-size: cover;
  background-position-y: bottom;
  align-content: center;

  background-repeat: no-repeat;


  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  & .login-form {
    margin: auto;
  }
}

