extends ../layout/layout
include ../../modules/register/register

block content
    main.registrationPage
        article.registrationPage_container
            +register({title: 'Регистрация аккаунта'})