.logo {
  display: flex;
  align-items: center;
  height: 4.2rem;
  &__circle {
    display: inherit;

    width: 2.5rem;
    height: 2.5rem;

    margin: auto 0;

    background-image: url("../logo/img/Group.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
  }
  &__toxin{
    width: 5rem;
    height: 0.88rem;
    margin-left: 0.75rem;
    background-image: url("../logo/img/TOXIN.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}