@import "../../theme/default_theme/deftheme";

.register {
  display: flex;
  flex-direction: column;
  max-width: 23.9rem;
  min-height: 40.3rem;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 1.786rem rgba(0,0,0,0.2);
  border-radius: 0.286rem;
  &_body {
    padding: 1.35rem 1.9rem 0 1.8rem;
    & .title-h1 {
      color: $dark_shade;
      margin: 1.1rem 0;
      letter-spacing: 0.09rem;
    }
    & .secondName {
      margin-top: 0.7rem;
    }
    & .radio_buttons {
      margin-top: 0.6rem;
    }
    & .birthday-title {
      margin-top: 1.4rem;
    }
    & .email-title {
      margin-top: 1rem;
    }
    & .password {
      margin-top: 0.6rem;
    }
    & .toggle_body {
      margin-top: 0.7rem;
    }
    & .buttons_go-to {
      margin-top: 1.4rem;
    }
    & .exist-on-toxin {
      display: flex;
      margin-top: 1.8rem;
      &_text {
        margin-right: auto;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
      }
    }
  }
}