@import "../../theme/default_theme/deftheme";

.rich-checkbox {
  width: 266px;
  &_title {
    @include title-checkboxs();
    height: 1rem;
    margin-bottom: 1rem;
  }

  &_element {
    display: flex;
    @include checkbox();

    &_fake {
      font-family: Montserrat, sans-serif;

      font-style: normal;
      font-weight: bold;
      font-size: 0.86em;
      line-height: 150%;
      letter-spacing: 0.04em;

      color: $dark_shade_75;

      margin-bottom: auto;
      //margin-bottom: 0.55rem;
    }
  }
  &_subscription {
    margin-left: 11.5%;

    width: 85%;
    font-family: Montserrat, sans-serif;

    font-weight: lighter;
    font-size: 0.77em;
    letter-spacing: -0.015em;
    line-height: 128%;

    white-space:pre-wrap;

    color: $dark_shade_50;
  }
}
