-
  locals.rows = [
    {
      title: 'Широкий коридор',
      subscription: `Ширина коридоров в номере \rне менее 91 см.`
    },
    {
      title: 'Помощник для инвалидов',
      subscription: 'На 1 этаже вас встретит специалист и проводит до номера.'
    }
  ]