@import "../../theme/default_theme/deftheme";

.checkbox-list {
  width: 266px;

  &_title {
  @include title-checkboxs();
    position: relative;
  }
  &_select {
    @include button-select(url('../icon/expand_more.png'));
    right: 0.8rem;
    top: 1rem;
    transition-duration: 0.3s;
  }
  & .rotate {
    transform: rotate(180deg);
  }

  &_items {
    position: absolute;
    margin-top: 0.2rem;

    background-color: #FFFFFF;
    z-index: 2;
    width: inherit;

    &_item {
      display: flex;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 129%;
      white-space: pre-wrap;

      color: $dark_shade_50;
      margin-bottom: 0.66rem;

      align-items: center;
    }

    @include checkbox();
  }
  & .invisible {
    display: none;
  }
}