mixin bullet-list($title, ...items)
    div.bullet-list
        div.bullet-list_title=$title
        ul.bullet-list_elements
            each item in items
                li.bullet-list_element
                    div.bullet-list_marker
                    =item



