@import "../../theme/default_theme/deftheme";

.room-card_check {

  width: 380px;
  height: 511px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  & .room-card_body {
    padding: 2.6rem 1.8rem 0 1.8rem;

    & .dropdown {
      margin-top: 1.05rem;
    }
  }
  &_body {

    &_header {
      display: flex;
    }
    &_info {
      display: flex;
      &_number {
        &_symbol {
          @include quicksand( bold, 0.85em, 2.5em, $dark_shade);
          letter-spacing: 0.1em;
        }
        &_count {
          @include quicksand( bold, 1.45em, 1.1em, $dark_shade);
          letter-spacing: 0.08rem;
        }
      }
      &_category {
        @include monserrat(bold, 0.75em, 2.9em, $purple);
        text-transform: uppercase;
      }
      &_day {
        @include monserrat(normal, 0.8em, 2.8em, $dark_shade_50);
        letter-spacing: -0.01em;
      }
      &_cost {
        @include monserrat(bold, 0.86em, 2.5em, $dark_shade_50);
        letter-spacing: 0.02em;
        margin-left: auto;
      }
    }
    &_dates {
      margin-top: 0.7rem;
    }
  }
}