mixin date-dropdown($date, $title, $class)
    div.date-dropdown
        if $title
            label.date-dropdown_title=$title
        input.date-dropdown_input(class=`masked-text-field_input ${$class}` placeholder='ДД.ММ.ГГГГ' value=$date)
        div.date-dropdown_select
