header {
  height: 5rem;

  & .logo_grey {
    width: 3rem;
    height: 3rem;
    margin: 2.4rem 0 0 1.8rem;

    background: url("../../elements/icon/Group.svg");
    background-repeat: no-repeat;
  }
}

.form-elements {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.85rem 0 0 8rem;
  &__container {
    width: 102.857rem;
    display: grid;
    margin-right: 0.714rem;
    margin-left: 0.714rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            'fields check-buttons buttons'
            'left-dropdown middle-dropdown right-dropdown'
            'left-comments comments comments';
    grid-row-gap: 7.143rem;
    grid-column-gap: 0.714rem;

  }
  &__fields {
    grid-area: fields;

    & .text-field {
      margin-top: 1rem;;
    }
    & .dropdown-title {
      margin-top: 1.14rem;
    }
    & .dropdown {
      width: 20.1rem;
    }
    & .masked-text-field {
      margin-top: 1.25rem;
    }
    & .date_dropdowns {
      margin-top: 2.3rem;
      display: flex;
      & .date-dropdown:last-child {
        margin-left: 1.2rem;
      }
    }
    & .filter-date-dropdown {
      margin-top: 2.4rem;
    }
    & .subscription-text-field {
      margin-top: 2.4rem;
      margin-left: -0.1rem;
    }
  }
  &__check-buttons {
    grid-area: check-buttons;
    padding: 0.3rem 0 0 0.2rem;
    & .radio_title {
      margin-top: 1.7rem;
    }
    & .toggle_title {
      margin-top: 2.55rem;
    }
    & .like-button_title {
      margin-top: 1.9rem;
    }
    & .like-buttons {
      display: flex;
    }
    & .like-button_area-checked {
      margin-left: 0.55rem;
    }
    & .rate-button_title {
      margin-top: 1.7rem;
    }
    & .stars {
      display: flex;
    }
  }
  &__buttons {
    grid-area: buttons;

      & .buttons-elements_active, & .buttons-elements_bordered {
        display: flex;
      }
      & .buttons_active:last-child {
        margin: 0 0 1.9rem 1.2rem;
      }
      & .buttons_bordered:last-child {
        margin: 0 0 1rem 1.2rem;
      }
      & .buttons_icon-link_dark {
        margin-left: 1.2rem;
      }
      & .buttons_go-to {
        margin-top: 1rem;
      }
      & .pagination_title, & .pagination {
        margin-left: 0.1rem;
      }
  }
  &__left-dropdown {
    grid-area: left-dropdown;

    & .dropdown {
      width: 16.7rem;
    }
  }
  &__left-comments {
    grid-area: left-comments;
  }
  &__comments {
    grid-area: comments;
  }
}