@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');
@import "../../theme/colors/colors";
@import "../../modules/registerArea/register";

.login{
  width: 30.4rem;
  height: 28.6rem;
  padding: 1.5rem 0 0 2.3rem;

  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__title{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 2.6em;
    letter-spacing: 0.02em;
    color: $dark_shade;
  }
  &__email{
    @include input-area($dark_shade_25, $dark_shade_25);
    padding: 0 0 0.3rem 1.2rem;
  }
  &__password{
    @include input-area($dark_shade_25, $dark_shade_25);
    padding: 0 0 0.3rem 1.2rem;
  }
  &__button{
    margin: 1rem 0 2rem 0;
    @include button-register-login-onforms();
  }
  &__havent-account{
    display: flex;
    &__label{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 1.12em;
      line-height: 129%;

      margin-top: 1.25rem;

      align-items: center;
      text-align: center;

      color: #000000;
    }
    &__register{
      margin: 0.2rem 0 0 4.6rem;
      @include button-register-login-bordered();
    }
  }

}