include ../../elements/header/header
include ../../elements/bottom/bottom
include ../../elements/bottom_pretty/bottom
header
    div.logo_grey
main.headers_and_footers
    +header()
    +header({name: 'Cosmin Negoita'})
    +bottom()
    +pretty-bottom()
