include ../like-button/like-button
mixin comment({ name,date, countLikes,like, text, image} = {})
    div.comment
        div.comment_header
            img.comment_header_image(src=image)
            div.comment_header_about
                div.comment_header_about_name=name
                div.comment_header_about_date=date
        div.comment_body
            div.comment_body_like
                +like-button(countLikes,like)
            div.comment_body_text=text