@import "../../theme/default_theme/deftheme";

.comment {
  max-width: 45rem;
  font-size: 16px;
  &_header {
    display: flex;
    &_image {
      width: 3.4rem;
      height: 3.4rem;

      //background-image: url('../icon/murad2.png');
      background-repeat: no-repeat;
      background-size: contain;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
      border-radius: 32px;
    }
    &_about {
      margin: 0.3rem 0 0 0.3rem;

      white-space: pre-line;

      @include monserrat(bold, 0.99em, 171%, $dark_shade_75);
      letter-spacing: 0.05em;
      &_date {
        font-weight: normal;
        letter-spacing: 0.06em;
      }
    }
  }
  &_body {
    display: flex;
    margin: 0.5rem 0 0 0.3rem;
    &_like {
      margin-top: 0.1rem;
      width: 2.8rem;
    }
    &_text {
      padding-left: 0.74rem;

      @include monserrat(normal, 1.07em, 165%, $dark_shade_75);
      letter-spacing: 0.03em;
    }
  }
}