@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');
@import "../../theme/colors/colors";
@import "../../modules/registerArea/register";

@mixin dropdown($color-text, $color-border, $width) {
  position: relative;
  display:flex;
  flex-direction: row-reverse;
  .dropdown-input {
    @include input-area($color-text, $color-border);
    padding: 0 0 0.35rem 1.2rem;
    margin-bottom: 0;
    width: $width;
  }

  .dropdown-select {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1.3rem;
    top: 1.3rem;
    background-image: url("../icon/expand_more.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }
  .dropdown-select:hover, .dropdown-select:focus ~ .dropdown-input{
    border-radius: 4px 4px 0px 0px;
    border: 4px;
  }

  .dropdown-input:focus, .dropdown-input:hover {
    @include input-area($dark_shade_75, $dark_shade_50);
    line-height: 171%;
    padding: 0 0 0.35rem 1.2rem;
    width: $width;
  }
}

@mixin dropdown-guests() {
    @include title-monserrat($dark_shade);
    list-style: none;
    padding-left: 1.25rem;
    margin: 0;
    li{
      padding: 0.55rem 0;
      font-size: 0.865rem;
      letter-spacing: 0.11em;
    }
    .count, .count-plus, .count-min{
      float: right;
    }
}

.search{

  width: 30.3rem;
  height: 29.8rem;
  padding: 3.2rem 2rem 0 2.35rem;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title{
    @include title-of-forms();
    font-family: Quicksand;
    line-height: 1.07em;
    letter-spacing: 0.025em;
  }
  &__dates{
    margin-top: 1.4rem;
    display: flex;
    &__arrival{
      margin-right: 1.55rem;
      width:12rem;
      &__title{
        @include title-monserrat($dark_shade);
      }
      &__date{
        @include dropdown($dark_shade_25, $dark_shade_25, 12rem);
      }
    }
    &__exit{

      &__title{
        @include title-monserrat($dark_shade);
      }
      &__date{
        @include dropdown($dark_shade_25, $dark_shade_25, 12rem);
      }
    }
  }
  &__guest{
    margin-top: 0.7rem;
    &__title{
      @include title-monserrat($dark_shade);
    }
    &__count{
      @include dropdown($dark_shade_25, $dark_shade_25, 25.5rem);
      div {
        right: 1.5rem;
      }
      &__dropdown{
        @include dropdown-guests();
      }
    }
  }
  &__button{
    margin-top: 1.65rem;
    @include button-register-login-onforms();
    width: 25.5rem;
  }
}

