@import "../../theme/default_theme/deftheme";

.dropdown-title {
  @include title-monserrat($dark_shade, 11px);
}
.dropdown {
  position: relative;
  &__area {
    @include input-area($dark_shade_75, $dark_shade_25);
    height: 2.65rem;
    width: 100%;
    letter-spacing: 0.008em;

    padding-left: 0.85rem;
    margin-bottom: 0;
    border-radius: 4px 4px 4px 4px;
  }
  & .dark {
    border-color: $dark_shade_50;
    border-radius: 4px 4px 0 0;
  }
  &__select {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    right: 1rem;
    top: 2.45rem;
    background-image: url("../icon/expand_more.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }
  &__items {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;

    list-style: none;
    margin: 0;
    padding: 0rem 0.45rem 0.2rem  0.9rem;

    background: #FFFFFF;

    border: 1px solid $dark_shade_50;
    border-top: solid transparent;
    border-radius: 0 0 4px 4px;

    box-sizing: border-box;
    & .dropdown__item {
      display: flex;
      height: 2.3rem;

      @include font-prop();

      &__title {
        display: block;
        width: 100%;
      }
      &__buttons {
        display: flex;

        justify-content: space-between;
        align-items: center;

        max-width: 5.7rem;
        width: 100%;

        & .button-minus , & .button-plus , & .str-count {
          text-align: center;
          vertical-align: middle;
          line-height: 2rem;
        }

        & .button-minus , & .button-plus {
          width: 1.75rem;
          height: 1.75rem;

          font-size: 1.6em;
          font-weight: normal;
          color: $dark_shade_50;

          border: 1px solid $dark_shade_50;
          border-radius: 50%;
        }
        & .button-minus {
          color: $dark_shade_25;
          border: 1px solid $dark_shade_25;
        }
        & .active {
          color: $dark_shade_50;
          border: 1px solid $dark_shade_50;
        }
      }
    }

    &__buttons {
      display: flex;
      @include title-monserrat($dark_shade, 0.64em);
      font-size: 0.75em;
      letter-spacing: 0;
      text-transform: uppercase;
      margin: 0.8rem 0.1rem 0.3rem 0;
      &__clear , &__save {
        flex: 0 0 50%;
      }
      &__clear{
        color: $dark_shade_50;
        visibility: hidden;
      }
      &__save{
        text-align: right;
        color: $purple;
      }
    }
  }
  & .visible {
    display: block;
    visibility: visible;
  }
}


