@import "../../theme/default_theme/deftheme";

.buttons {

  &_title {
    @include title-checkboxs();
    margin-top: 1.9rem;
  }
  &_active {
    width: auto;
    height: 2.6rem;
    padding: 0.1rem 1.2rem 0 1.2rem;

    background: $gradient;
    border-radius: 1.4rem;

    @include font-prop();
    color: #FFFFFF;
    justify-content: center;
    vertical-align: baseline;
    letter-spacing: 0.03em;
  }
  &_active:hover {
    opacity: 0.5;
  }
  &_bordered {
    width: 6.2rem;
    height: 2.7rem;
    padding-top: 0.1rem;

    display: flex;
    justify-content: center;
    align-content: center;

    background: $gradient;
    border-radius: 1.4rem;
    &_body {
      width: 5.9rem;
      height: 2.5rem;
      margin-top: 0.05rem;

      background: #FFFFFF;
      @include font-prop();
      color: $purple;
      justify-content: center;
      vertical-align: baseline;
      letter-spacing: 0.03em;

      border-radius: 1.4rem;
    }
  }
  &_bordered:hover {
    opacity: 0.5;
  }

  &_icon-link {
    display: flex;
    font-size: 1.065em;

    &_purple {
      @include title-checkboxs();
      color: $purple;
      letter-spacing: 0.045em;
    }
    &_dark {
      @include title-checkboxs();
      color: $dark_shade_50;
      letter-spacing: 0.04em;
    }
  }

  &_go-to {
    @include title-checkboxs();
    color: #FFFFFF;
    text-align: center;
    justify-content: center;

    position: relative;

    width: 20rem;
    height: 2.8rem;
    border-radius: 1.7rem 1.7rem;
    background-image: $gradient;
    &_icon{
      position: absolute;
      width: 1.15rem;
      height: 1.15rem;
      right: 0.8rem;
      top: 0.8rem;
      background-image: url("../icon/arrow_forward_white.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      align-self: center;
    }
  }
}

.pagination {

  &_title {
    @include title-checkboxs();
    margin-top: 1.6rem;
  }

  &_map {
    display: flex;
    margin-bottom: 0.65rem;
    &_page {
      width: 2.5rem;
      height: 2.5rem;

      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      color: rgba(31, 32, 65, 0.5);
    }
    & .active {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 2rem;
      color: #FFFFFF;
      font-weight: bold;
    }
    &_next {
      width: 2.5rem;
      height: 2.5rem;

      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 2rem;
      &_arrow {
        width: 2.5rem;
        height: 2.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url("../icon/arrow_forward_white.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &_label {
    padding-left: 0.3rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    color: $dark_shade_75;
  }
}

