//@import "../fonts/Montserrat/fonts.css";
@import "../../theme/colors/colors";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navigation {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 0.9em;
  letter-spacing: -0.015em;
  margin: 4rem 0 3.5rem 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 2rem rgba(31, 32, 65, 1); //0.05
  width: 100%;
  color: $dark_shade_50;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    &:last-child{
      margin-right: 9.8rem;
    }
  }
  &__element {
    display: inherit;
    list-style: none;
    position: relative;
    align-items: center;
    margin: 1.2rem 1.15rem;
    &:first-child{
      font-weight: bold;
      color: $dark_shade_75;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: $dark_shade_50;
    &__show-more{
      height: 1rem;
      width: 1rem;
      margin-left: 0.3rem;
      margin-top: 0.05rem;
      background-image: url("../icon/expand_more.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      align-self: center;
    }
  }
  &__button {
    font-family: inherit;
    margin: 0.3rem 0.85rem;
    padding: 0;
    font: inherit;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1.7rem 1.7rem;
    background-image: $gradient;
    border:none;
    height: 2.7rem;
    &--register{
      color: #FFFFFF;
      width: 8rem;
      padding-bottom: 0.1rem;
    }
    &--login{
      padding: 0.15rem;
      margin-left: 1.5rem;
      width: 6.2rem;
      color: $purple;
        &__item{
          padding: 0.6rem 1.45rem;
          border-radius: inherit;
          background-color: #FFFFFF;
          background-image: none;
        }
    }
  }
  &__sub{
    display: none;
  }

}
