-
    var navigation = [
        {
            name: 'home',
            link: '#home',
            title: 'Home',
        },
        {
            name: 'about_us',
            link: '#about_us',
            title: 'About Us',
        },
        {
            name: 'services',
            link: '#services',
            title: 'Services',
            type: [
                {
                    name: 'documentation',
                    link: '#documentation',
                    title: 'Documentation'
                },
                {
                    name: 'community',
                    link: '#community',
                    title: 'Community'
                },
                {
                    name: 'get-in-touch',
                    link: '#get-in-touch',
                    title: 'Get in Touch'
                },
            ]
        },
        {
            name: 'careers',
            link: '#careers',
            title: 'Careers',
        },
        {
            name: 'news',
            link: '#news',
            title: 'News',
        },
        {
            name: 'documentation',
            link: '#documentation',
            title: 'Documentation',
        }
    ]
    var buttonElement = [
        {
            name: 'login',
            link: '#login',
            title: 'Login'
        },
        {
            name: 'register',
            link: '#register',
            title: 'register'
        }
    ]
nav.navigation
    div.navigation__logo
        include ../logo/logo
    ul.navigation__list
        each item in navigation
            li.navigation__element
                a(href=item.link, class='navigation__link--'+item.name).navigation__link=item.title
            if item.type
                div.navigation__show-more
                    ul.navigation__sub
                        each item_sub in item.type
                            li.navigation__subm-element
                                a(href='#' + item_sub.name).navigation__sub-link=item_sub.title
        each item in buttonElement
            li.navigation__button
                button(class='navigation__button navigation__button--'+item.name type="button")
                    div(class ='navigation__button navigation__button--'+item.name+'__item')=item.title
