@import "../../theme/default_theme/deftheme";

header {
  height: 5rem;

  & .cards_logo_grey {
    @include logo_header(3rem, 3rem, 2rem 0 0 1.6rem);
  }
}

.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 0 0 8rem;

  &__container {
    width: 102.857rem;
    display: flex;
    margin-right: 0.714rem;
    margin-left: 0.714rem;
  }
  &__column {
    margin: 0 1.2rem;
    & .search {
      margin-bottom: 2.4rem;
    }
    & .login-form {
      margin-top: 2.5rem;
    }
    & .room-card_small:last-of-type {
      margin-top: 2.5rem;
    }
  }
}