mixin text-field({title, placeholder ,value, className='text'} = {})
    div.text-field
        if title
            label.text-field_title=title


        input.text-field_input(class=className placeholder=placeholder value=value)

