@import "../../theme/default_theme/deftheme";

.login-form {
  display: flex;
  flex-direction: column;

  max-width: 23.9rem;
  width: 100%;
  min-height: 22.3rem;

  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.12);

  box-sizing: border-box;

  box-shadow: 0px 0px 1.786rem rgba(0,0,0,0.2);

  border-radius: 0.286rem;

  &_body {
    padding: 1.4rem 1.9rem 0 1.9rem;
    & .title-h1 {
      margin: 1rem 0 1.3rem 0;
      font-size: 24px;
      letter-spacing: 0.017em;}
    & .password {
      margin-top: 0.6rem;
    }
    & .button-login {
      margin-top: 1.2rem;
    }
    & .exist-on-toxin {
      margin-left: 0.1rem;
      &_text {
        @include monserrat(normal, 14px, 18px, #000000);
        letter-spacing: 0.05em;
      }
    }
  }
}
